@import url("/res/css/base.css");

ul {
    list-style-type: none;
    list-style-position: inside;
    padding-left: 0;
}

img.social {
    width: 1em;
    user-select: none;
}

li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}
