@import url("/res/css/font.css");

:root {
    --background-color: #445469;
    --foreground-color: #eee;
    --link-color: #ffb43b;
    --selection-color: rgba(200, 255, 255, 0.3);
    --sans-serif-font-family: "Schibsted Grotesk", "Noto Sans", sans-serif;
    --serif-font-family: "Merriweather", serif;
    --monospace-font-family: "IBM Plex Mono", monospace;
    font-size: clamp(4vmin, 16pt, 36pt);
}

::selection {
    background-color: var(--selection-color);
}

a, a:visited {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    color: var(--foreground-color);
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    font-family: var(--sans-serif-font-family);
    align-items: center;
    justify-content: center;
}

a.hidden {
    color: var(--foreground-color);
    text-decoration: none;
}

a.hidden:hover {
    color: var(--link-color);
    text-decoration: underline;
}

a.disabled {
    color: #999;
    text-decoration: none;
}

code {
    background-color: #383d43;
    font-size: 0.8em;
    line-height: 1.75em;
    padding: 0.25em;
    font-family: var(--monospace-font-family);
}

small {
    font-size: 0.7em;
}

p {
    margin: 0;
}

p + p {
    margin-top: 0.5em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--serif-font-family);
}
