@import url("/res/css/base.css");

#container {
    display: grid;
    margin: 0;
    padding: 0;
    grid-template-rows: 30vh 30vh 30vh;
    grid-template-columns: auto;
    grid-template-areas: "a" "b" "c";
    justify-items: center;
    gap: 1rem;
}

#quote-container {
    grid-area: a;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    gap: 0.25rem;
    flex-direction: column;
    margin: 1rem;
}

#quote {
    font-size: 1rem;
    font-family: var(--serif-font-family);
}

#noscript {
    font-size: 0.5rem;
}

#quote-changer {
    display: flex;
    font-size: 1rem;
    width: 1em;
    height: 1em;
    margin-top: 0.5rem;
    align-items: center;
    justify-content: center;
    user-select: none;
    border-width: 2pt;
    border-style: solid;
    border-color: var(--foreground-color);
    border-radius: 100%;
    transition: border-color 0.25s ease-in-out;
}

#quote-changer > .inner {
    line-height: 0;
}

#quote-changer-anchor.hidden {
    display: none;
}

#quote-changer-anchor:hover {
    text-decoration: none;
}

#quote-changer-anchor:hover > #quote-changer {
    border-color: var(--link-color);
}

#cantharus {
    grid-area: b;
    max-height: 50vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    pointer-events: none;
}

@keyframes cantharus-rotate {
    from { transform: rotate(0deg) }
    to { transform: rotate(360deg); }
}

#cantharus > img {
    image-rendering: crisp-edges;
    max-width: 90%;
    max-height: 90%;
    animation: 20s linear infinite cantharus-rotate;
}

#links-parent {
    grid-area: c;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    margin: 1rem;
    user-select: none;
}

@media screen and (max-width: 30rem) {
    #links-parent {
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        gap: 0.5rem;
    }

    #links-parent > .bullet {
        display: none;
    }
}
