@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");

:root {
    --bg-color: #445469;
    --code-bg-color: #383d43;
    --fg-color: #eee;
    --a-color: #ffb43b;
    --font-family: 'Schibsted Grotesk', 'Noto Sans', sans-serif;
    --quote-font-family: 'Merriweather', serif;
    font-size: clamp(4vmin, 16pt, 36pt);
}

::selection {
    background-color: rgba(200, 255, 255, 0.3);
}

a, a:visited {
    color: var(--a-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    color: var(--fg-color);
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    font-family: var(--font-family);
    align-items: center;
    justify-content: center;
}

a.hidden {
    color: var(--fg-color);
    text-decoration: none;
}

a.hidden:hover {
    color: var(--a-color);
    text-decoration: underline;
}

a.disabled {
    color: #999;
    text-decoration: none;
}

code {
    background-color: var(--code-bg-color);
    font-size: 0.8em;
    line-height: 1.75em;
    padding: 0.25em;
    font-family: 'IBM Plex Mono', monospace;
}

small {
    font-size: 0.7em;
}

p {
    margin: 0;
}

p + p {
    margin-top: 0.5em;
}
