@import url("base_style.css");

#container {
    display: grid;
    margin: 0;
    padding: 0;
    grid-template-rows: 30vh 30vh 30vh;
    grid-template-columns: auto;
    grid-template-areas:
        "a"
        "b"
        "c";
    justify-items: center;
    gap: 1rem;
}

#quote-container {
    grid-area: a;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    gap: 0.25rem;
    flex-direction: column;
    margin: 1rem;
}

#quote {
    font-size: 1rem;
    font-family: var(--quote-font-family);
}

#noscript {
    font-size: 0.5rem;
}

#quote-changer {
    font-size: 1rem;
    user-select: none;
}

#quote-changer > a:hover {
    text-decoration: none;
}

#cantharus {
    grid-area: b;
    max-height: 50vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

@keyframes rotat {
    from { transform: rotate(0deg) }
    to { transform: rotate(360deg); }
}

#cantharus > img {
    image-rendering: crisp-edges;
    max-width: 90%;
    max-height: 90%;
    animation-name: rotat;
    animation-duration: 20s;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

#links-parent {
    grid-area: c;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    margin: 1rem;
    user-select: none;
}

@media screen and (max-width: 30rem) {
    #links-parent {
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        gap: 0.5rem;
    }

    #links-parent > .bullet {
        display: none;
    }
}
