@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

:root {
    --bg-color: #445469;
    --code-bg-color: #383d43;
    --fg-color: #eee;
    --a-color: #ffb43b;
    --font-family: 'Schibsted Grotesk', 'Noto Sans', sans-serif;
    --quote-font-family: 'Merriweather', serif;
    font-size: clamp(4vmin, 16pt, 36pt);
}

::selection {
    background-color: rgba(200, 255, 255, 0.3);
}

a, a:visited {
    color: var(--a-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    font-family: var(--font-family);
    align-items: center;
    justify-content: center;
}

#container {
    display: grid;
    margin: 0;
    padding: 0;
    grid-template-rows: 30vh 30vh 30vh;
    grid-template-columns: auto;
    grid-template-areas:
        "a"
        "b"
        "c";
    justify-items: center;
    gap: 1rem;
}

#quote-container {
    grid-area: a;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: var(--fg-color);
    text-align: center;
    gap: 0.25rem;
    flex-direction: column;
    margin: 1rem;
}

#quote {
    font-size: 1rem;
    font-family: var(--quote-font-family);
}

#quote p {
    margin: 0;
}

#quote p + p {
    margin-top: 0.5em;
}

#quote small {
    font-size: 0.7em;
}

#quote a.hidden {
    color: var(--fg-color);
    text-decoration: none;
}

#quote a.hidden:hover {
    color: var(--a-color);
    text-decoration: underline;
}

#quote code {
    background-color: var(--code-bg-color);
    line-height: 1.75em;
    padding: 0.25em;
    font-family: 'IBM Plex Mono', monospace;
}

#noscript {
    font-size: 0.5rem;
}

#quote-changer {
    font-size: 1rem;
    user-select: none;
}

#quote-changer > a:hover {
    text-decoration: none;
}

#cantharus {
    grid-area: b;
    max-height: 50vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

@keyframes rotat {
    from { transform: rotate(0deg) }
    to { transform: rotate(360deg); }
}

#cantharus > img {
    max-width: 90%;
    max-height: 90%;
    animation-name: rotat;
    animation-duration: 20s;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

#links-parent {
    grid-area: c;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    margin: 1rem;
    user-select: none;
}

#links-parent > .bullet {
    color: var(--fg-color);
}

@media screen and (max-width: 30rem) {
    #links-parent {
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        gap: 0.5rem;
    }

    #links-parent > .bullet {
        display: none;
    }
}
