:root {
    --ks-theme-font: sans-serif;

    --ks-theme-background: rgb(49, 59, 70);
    --ks-theme-text: rgb(238, 248, 255);

    --ks-theme-anchor: rgb(163, 202, 255);

    --ks-theme-wittyquote-selector: var(--ks-theme-text);
}

body {
    font-family: var(--ks-theme-font);
    color: var(--ks-theme-text);
    background: var(--ks-theme-background);
    font-size: 16pt;
    padding: 12vmin;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2em;
}

a {
    color: var(--ks-theme-anchor);
}

a:visited {
    color: var(--ks-theme-anchor);
}

.ks-container {
    display: flex;
    flex-direction: column;
}

#ks-identity-header {
    display: flex;
    flex-direction: row;
    gap: 2em;
    align-items: center;
}

#ks-identity-stack {
    display: flex;
    flex-direction: column;
}

#ks-identity-avatar > img {
    width: 8em;
    border-radius: 100%;
}

#ks-identity-name {
    font-size: 2em;
    font-weight: bold;
}

#ks-identity-wittyquote-selector {
    vertical-align: sub;
    font-size: 1em;
}

#ks-identity-wittyquote-selector > a {
    text-decoration: none;
}

#ks-identity-wittyquote-selector > a::before {
    content: ' ';
    font-size: 0.15em;
}

#ks-identity-wittyquote-selector > a::after {
    content: '>';
}

.ks-header {
    font-size: 1.5em;
    font-weight: bold;
}

p {
    margin: 0.25em 0;
}

#ks-footer {
    position: fixed;
    width: 100%;
    padding: 0.5em;
    left: 0;
    bottom: 0;
    font-size: 0.75em;
    background: var(--ks-theme-background);
}

/* hmm... */

a.ks-funny-link {
    color: var(--ks-theme-text);
    text-decoration: none;
}

a.ks-funny-link:hover {
    text-decoration: underline;
}

a.ks-funny-link-disabled:hover {
    text-decoration: none !important;
}
